# Copiez en .env et remplissez
IMAP_HOST=imap.votreprovider.com
IMAP_PORT=993
SMTP_HOST=smtp.votreprovider.com
SMTP_PORT=587
EMAIL_PASSWORD=mot_de_passe_mail_par_defaut
SECRET_KEY=changez_cette_cle_tres_longue_et_aleatoire
PORT=15431
DB_PATH=/home/container/serveircmail.db

# Compte Super Admin cree au premier demarrage
SUPER_ADMIN_USERNAME=admin
SUPER_ADMIN_PASSWORD=admin1234
SUPER_ADMIN_EMAIL=admin@serveircmail.local
