# Copiez en .env et remplissez

# IMAP (réception) - votre compte Gmail avec ImprovMX forward
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_USER=votre_compte@gmail.com
EMAIL_PASSWORD=app_password_gmail

# SMTP (envoi) - Mailtrap
SMTP_HOST=live.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=api
SMTP_PASSWORD=votre_cle_api_mailtrap

SECRET_KEY=changez_cette_cle_tres_longue_et_aleatoire
PORT=15431
DB_PATH=/home/container/serveircmail.db

# Compte Super Admin cree au premier demarrage
SUPER_ADMIN_USERNAME=admin
SUPER_ADMIN_PASSWORD=admin1234
SUPER_ADMIN_EMAIL=admin@serveircmail.local
